
header{
    padding: 15px 50px;
    margin: 0%;
    align-items: left;
    text-align: left;
    background: #493a7c;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

#nav-bar-link {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    border-color: rgb(255, 255, 255);
    border-style: groove;
    background-color: #725db8;
}

#login-logout-register-button{
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    border-color: rgb(255, 255, 255);
    border-style: groove;
    background-color: #725db8;
}

#header-posts-button{
    float:right;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    border-color: rgb(255, 255, 255);
    border-style: groove;
    background-color: #725db8;
}
