#nav-bar-link {
    justify-content: center;
    float: inherit;
    margin: 1em auto;
    border: darkblue;
    border-radius: 6px;
    border-style: ridge;
    text-decoration: none;
    width: 250px;
    text-align: center;
    font-family: 'Balsamic Sans', sans-serif;
    font-size: 16px;
  
    background: lightseagreen;
    padding: 1em;

}



header{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: cadetblue;
}

