h2 {
    text-align: center;
}
.auth-component_input {
    text-align: center;
    box-sizing: content-box;
    
    
}
#submitPost {
float: center;
   justify-content: center;
   box-sizing: border-box;
   padding: 5px;
   
}
button#newPostSubmit{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    border-color: rgb(255, 255, 255);
    border-style: groove;
    background-color: #725db8;
    align-items: center;
 
}